@{
    ViewData["Title"] = "Início";
}


<h1>
    Master quiz
</h1>

<div style="text-align:center; margin-top:50px;">
    <form method="get" asp-controller="Quiz" asp-action="Welcome">
        <button type="submit" class="play btn btn-outline-danger">PLAY</button>
    </form>
</div>





